<div id="tableViewWrapper">
<h1>Add a City</h1>
<form ng-submit="addNewCity()">
  <h3>Add a new city</h3>
  <input type="text" placeholder="City" ng-model="newCity"></input>
  <button type="submit">Add</button>
</form>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Lat</th>
    <th>Long</th>
    <th ng-click="sort()">Current Temp</th>
  </tr>
  <tr ng-repeat="city in data">
    <td>{{city.name}}</td>
    <td>{{city.coord.lat}}</td>
    <td>{{city.coord.lon}}</td>
    <td>{{city.main.temp}}</td>
  </tr>
</table>
</div>