<!DOCTYPE html>
<html>
<head>
  <title>TechTest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>

<body ng-app='techTest'>
  <ui-view>
    hello world
  </ui-view>
</body>

</html>
