<div id="tableViewWrapper">
  <h1>Current Weather</h1>
  <form ng-submit="addNew()">
  <h3>Add a new city</h3>
  <input type="text" placeholder="City" ng-model="newCity"></input>
  <button type="submit" class="btn btn-primary" ng-model="submitBtn" btn-checkbox>Add</button>
  </form>
  <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Lat</th>
    <th>Long</th>
    <th ng-click="sort()">Current Temp</th>
  </tr>
  <tr ng-repeat="city in data">
    <td><a ui-sref="cityView" ng-click="transferEvent(city)">{{city.name}}</a></td>
    <td>{{city.lat}}</td>
    <td>{{city.long}}</td>
    <td>{{city.currTemp}}</td>
  </tr>
  </table>
</div>

